body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    
}

.header, .footer {
    background-color: #1F2937;
    display: flex;    
}

.header {
    justify-content: space-around;
    flex: 1;
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    
}

.footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 30px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
}

.secondary-text {
    margin-bottom: 10px;
    width: 460px;
}


.header-left {
    display: flex;
    flex-direction: column;  
    gap: 60px;
}

.header-right {
    display: flex;    
    flex-direction: column;
    gap: 60px;
    
}

.header-image {
    height: 220px;
    width: 600px;
}

.first-button {
    font-family: Roboto, sans-serif;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 25px;  
    border: none;
    color: #F9FAF8;
    font-weight: 900;
}

ul, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}



.images {
    height: 200px;
    width: 200px;
    
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.second-part {
    text-align: center;
    flex: 1;
    background-color: #F9FAF8;
    padding-top: 30px;
    padding-bottom: 60px;    
}

.text-and-image-group {
    display: flex;
    flex-direction: column;
    width:200px;
} 

.second-part-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

.third-part {
    flex: 1;
    display: flex;
    background-color: #E5E7EB;
    /*padding: 120px; */
    padding: 90px 520px; 
    justify-content: center;
    align-items: center;
    
}

.quote {
    flex: 1 0 0%;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    /*width: 800px; */
}

.quote-writer {
    font-style:normal;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;    
}

.fourth-part {
    flex: 1;
    display: flex;
    padding: 70px 300px;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.box {
    flex: 1;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
}

.fourth-part-button-div {
    display: flex;
    align-items: center;   
}

.fourth-part-signup-button {
    background-color: #3882F6;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-style: solid;
    padding: 5px 30px;    
}

.call-to-action-text {
    font-size: 20px;
    font-weight: 900;
}